doctype html
html
  head
    title Change Plan | Paddle Customer Portal
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/css/styles.css')
  body.body
    h2 Change your plan
    .currentPlan.card
      h4 Plan ID: #{subscription_id}
      .buttons  
        #change.submit(href="#!") Update Quantity
    .row.card
      h4 Plans Available
      select.field
        each response in responses
          option(value=response.id) #{response.name}

  script.
