doctype html
html
  head
    title Error | Paddle Customer Portal
    meta(name="viewport" content="width=device-width, initial-scale=1")
    style(type='text/css').
      .body { display: flex; justify-content: center; flex-wrap: wrap;}
      .orderBox { padding: 20px; border: 2px solid grey; border-radius: 5px; margin: 10px; display: block}
  body.body
    h2 404
