doctype html
html
  head
    title Login | Paddle Customer Portal
    meta(name="viewport" content="width=device-width, initial-scale=1")
    style(type='text/css').
      .card { width: 300px; margin: auto; display: flex; flex-direction: column; padding: 20px; border: 2px solid grey; border-radius: 2px; align-items: center}
      .orderBox { padding: 20px; border: 2px solid grey; border-radius: 5px; margin: 10px; display: block}
      .field { margin-bottom: 10px }
  body
    form(action="/save" method="POST" class="card")
      label(for="vendor_id") Vendor ID
      input.field(type="text" name="vendor_id")
      label(for="auth_code") Auth Code
      input.field(type="text" name="auth_code")
      label(for="sub_id") Subscription ID
      input.field(type="text" name="sub_id")
      input.submit(type="submit" value="Submit" class="button")
