doctype html
html
  head
    title Login | Paddle Customer Portal
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/css/styles.css', type='text/css')
  body
    .header
      img.paddleLogo(src="https://d33wubrfki0l68.cloudfront.net/d44ced5032e91f413d47138a1f9107f2b3a90543/da230/assets/svg/logo-primary.svg")
    form(action="/save" method="POST" class="card")
      p.headerText Enter your credentials
      input.field(type="text" name="vendor_id" placeholder="Vendor ID")
      input.field(type="text" name="auth_code" placeholder="Auth Code")
      input.field(type="text" name="sub_id" placeholder="Subscription ID")
      input.submit(type="submit" value="Submit" class="button")
