doctype html
html
  head
    title Manage Order
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdn.paddle.com/paddle/paddle.js")
    script.
      Paddle.Environment.set("sandbox");
      Paddle.Setup({
        vendor: 582,
      });
    style(type='text/css').
      .body { display: flex; justify-content: center; flex-wrap: wrap; flex-direction: column; align-content: center}
      .row { padding: 20px; border: 2px solid grey; border-radius: 5px; margin: 10px; text-align: center}
  body.body
    h1 Manage Subscription #{response.subscription_id}
    .row
      a#update(href="#!") Click here to update your subscription
    

  script.
    openCheckout = () => {
      Paddle.Checkout.open({
        override: "#{response.update_url}"
      });
    }
    document.getElementById('update').addEventListener('click', openCheckout, false);
