doctype html
html
  head
    title Billing History | Paddle Customer Portal
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="https://cdn.paddle.com/paddle/paddle.js")
    script.
      Paddle.Environment.set("sandbox");
      Paddle.Setup({
        vendor: 582,
      });
    link(rel='stylesheet', href='/css/styles.css')
  body.body
    .row.card
      p.headerRow Receipts
      .seperator
      .historyBox
        each payment in payments
            p.leftHistory #{payment.payout_date}
            p.middleHistory #{payment.currency} #{payment.amount} 
            a(href=payment.receipt_url target="_blank") View Receipt